<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Boilerplate</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="active"><a href="#">Right Button Active</a></li>
      <li class="has-dropdown">
        <a href="#">Right Button Dropdown</a>
        <ul class="dropdown">
          <li><a href="#">First link in dropdown</a></li>
          <li class="active"><a href="#">Active link in dropdown</a></li>
        </ul>
      </li>
    </ul>
    <ul class="left">
      <li><a href="#">Left Nav Button</a></li>
    </ul>
  </section>
</nav>
<div class="row">
  <div class="columns small-16 medium-6 large-4 small-centered">
  </div>
</div>
<div class="row">
  <div class="columns small-16">
    <h1>h1. Largest header</h1>
    <p>Bacon ipsum dolor amet magna nostrud tempor qui proident pork loin. Esse salami ut andouille alcatra. Boudin drumstick anim chuck, minim filet mignon quis ut ea <em>exercitation ipsum pariatur excepteur</em>. Qui do elit id, t-bone ad fugiat culpa turkey fatback.</p>
    <p>Mollit ham hock ribeye anim jowl ut. Pork belly ham kielbasa strip steak swine brisket ex cupidatat irure landjaeger cupim eu pork loin incididunt. Id consectetur chicken quis corned beef. Consequat exercitation in nulla deserunt aute.</p>
    <h3>h3. Medium header</h3>
    <p>Tenderloin ut swine chuck bacon veniam. Short loin dolor minim corned beef, cillum pig short ribs ad in pancetta beef sint consequat anim. Sausage frankfurter andouille eu. Tongue kevin tenderloin nostrud tri-tip do voluptate proident fugiat swine id.</p>
    <p>Et spare ribs tail dolor, leberkas ex incididunt sint cow. Ullamco et irure sint do ipsum. Ut magna id brisket aliquip chuck. Ipsum tempor bacon, consequat picanha dolor short ribs laborum prosciutto labore lorem beef chicken. Shankle dolore proident frankfurter qui pork loin veniam. Meatball enim laboris pancetta short loin.</p>
    <h3>h3. Medium header</h3>
    <p>Nostrud in id cow picanha ball tip, venison jowl ad reprehenderit pork belly. Minim culpa corned beef officia pancetta ea ut qui dolore shank. Ut aliqua meatball flank reprehenderit picanha rump culpa corned beef velit quis. Shankle sed frankfurter, fugiat chuck deserunt nisi ut. Boudin short loin landjaeger turducken. Ball tip hamburger pastrami ipsum t-bone prosciutto, commodo enim pig meatloaf.</p>
  </div>
</div>
<div id="setup-modal" class="reveal-modal" data-reveal>
  <div class="row sticky-header">
    <section class="sticky-header-section columns small-16 medium-6 large-4 small-centered">
      <h1 class="section-title text-center">Setup</h1>
      <a href="#" class="section-button close-reveal-modal">&times;</a>
    </section>
  </div>
  <div class="row">
    <label class="text-center">
      Select some genres you like
    </label>
    <ul class="no-bullet columns small-16 medium-6 large-4 small-centered text-center">
      <li>Rock</li>
      <li>Rap</li>
      <li>R&amp;B</li>
      <li>Metal</li>
      <li>Blues</li>
      <li>Pop</li>
      <li>Folk</li>
      <li>Classical</li>
      <li>Country</li>
      <li>Jazz</li>
    </ul>
  </div>
</div>
