<div class="row">
  <div class="columns small-16 medium-6 large-4 small-centered">
    <h1 role="logo">Boilerplate</h1>
  </div>
</div>
<div class="row">
  <form method="GET" action="/article" class="columns small-16 medium-6 large-4 small-centered">
    <label>
      <input class="icon-username text-center" type="text" name="username" placeholder="Username"/>
    </label>
    <label>
      <input class="icon-password text-center" type="password" name="password" placeholder="Password"/>
    </label>
    <button type="submit" class="expand radius">
      Sign In
    </button>
  </form>
</div>
<div class="row" role="footer">
  <ul class="no-bullet columns small-16 medium-6 large-4 small-centered text-center">
    <li><a href="/article" class="text-small">Skip and explore the app</a></li>
  </ul>
</div>
